{{>layout/header}}

<div class="container">

    <h1 class="mt-3">{{model.fullname}}님 계좌목록</h1>

    {{#model.accounts}}
        <div class="card mt-3">
            <div class="card-body">
                <h4 class="card-title">계좌번호 : {{number}}</h4>
                <p class="card-text">잔액 : {{balance}}</p>
                <a href="/account/{{number}}" class="card-link">상세보기</a>
            </div>
        </div>
    {{/model.accounts}}


</div>
{{>layout/footer}}